body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f1fa;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border: 0.1rem solid #E1C1E5;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 5rem;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #E1C1E5;
    border-radius: 0.7rem;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.links a {
    color: #8b4297;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #E1C1E5;
    color: wh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d19bd7;
}